DATABASE_URL="postgresql://cashflow-admin:YOUR_PASSWORD@localhost:5432/cashflow"
POSTGRES_USERNAME="cashflow-admin"
POSTGRES_PASSWORD="YOUR_PASSWORD"
POSTGRES_DB_NAME="cashflow"
JWT_SECRET="YOUR_JWT_SECRET"
CLIENT_URL="http://localhost:3000"